*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:focus,:active{
  box-shadow: none;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


li{
  margin-top: 15px;
  list-style: none;
  line-height: 20px;
  font-size: 13px;
  margin-right: 5px;

}